@charset "UTF-8";
/* -------------------------------------------------------------------------------
	Font
------------------------------------------------------------------------------- */
@font-face {
    font-family: "notoR";
    font-style: normal;
    src: url("../font/notokr-regular.eot");
    src: url("../font/notokr-regular.woff2") format("woff2"), url("../font/notokr-regular.woff") format("woff");
}

@font-face {
    font-family: "notoM";
    font-style: normal;
    src: url("../font/notokr-medium.eot");
    src: url("../font/notokr-medium.woff2") format("woff2"), url("../font/notokr-medium.woff") format("woff");
}

@font-face {
    font-family: "notoB";
    font-style: normal;
    src: url("../font/notokr-bold.eot");
    src: url("../font/notokr-bold.woff2") format("woff2"), url("../font/notokr-bold.woff") format("woff");
}

/* base */
/* -------------------------------------------------------------------------------
	reset
------------------------------------------------------------------------------- */
/* 초기화 */
html,
body {
    width: 100%;
    height: 100vh;
}
body {
  position: relative;
  font-family: "notoM", sans-serif;
  color: #232527;
  font-size: 14px;
  line-height: 1.3;
  overscroll-behavior-y: none;/*모바일 터치 세로고침 방지*/
  height: 100vh;
  overflow-y: hidden;
}

body,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
p,
blockquote,
pre,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
figure,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
fieldset,
legend,
a,
textarea,
input,
select,
option,
button,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    font-family: "notoM", sans-serif;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: none;
    -webkit-text-size-adjust: none;
    word-break: keep-all;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: inherit;
    font-family: "notoB", sans-serif;
}

address,
caption,
cite,
code,
dfn,
em,
var,
i {
    font-style: normal;
    font-weight: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

hr {
    margin: 0;
    border: solid #f2f2f5;
    border-width: 13px 0 0 0;
}

pre {
    white-space: pre-wrap;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
}

blockquote,
q {
    quotes: '' '';
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

sub {
    line-height: 0;
    position: relative;
}

sup {
    line-height: 0;
    position: relative;
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

em {
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
    word-break: break-all;
    cursor: pointer;
}

a:link, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}

strong,
dt {
    font-weight: normal !important;
}

* {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

*::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

button,
input[type="checkbox"] + label,
input[type="radio"] + label {
    cursor: pointer;
}
/* button:disabled {
    color: #777;
    background: #EFEFEF;
    border-color: #A0A0A0 !important;
} */

/* -------------------------------------------------------------------------------
    Scrollbar
 ------------------------------------------------------------------------------- */
 ::-webkit-scrollbar {width:5px;height:5px;border:3px solid #fff; }
 ::-webkit-scrollbar-button:start:decrement,
 ::-webkit-scrollbar-button:end:increment {display:block;height:10px;background: #fff}
 ::-webkit-scrollbar-track {background:#fff;-webkit-border-radius:0;border-radius:0;-webkit-box-shadow:none;}
 ::-webkit-scrollbar-thumb {height:5px;width:5px;background:#dadada;-webkit-border-radius:8px;border-radius:8px;-webkit-box-shadow:none;}
 .scroller::-webkit-scrollbar {display:none;}
 
/* -------------------------------------------------------------------------------
  Table
------------------------------------------------------------------------------- */
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    empty-cells: show;
    border-spacing: 0;
}
table caption, fieldset legend {
    overflow: hidden;
    z-index: -1;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -9999999px;
}
td, th {
    word-break:break-all;
}

input:not([type="checkbox"], [type="radio"]) {
    padding: 0 16px;
    width: 100%;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
}
input:not([type="checkbox"], [type="radio"]):focus {
    border-color: #F37321;
}
input:not([type="checkbox"], [type="radio"]):disabled {
    color: #777;
    background: #F2F2F2;
}
input::placeholder {
    color: #777;
}
input[type="date"],
input[type="time"] {
    position: relative;
    padding: 0 0 0 16px;
} 
input[type="date"]::before,
input[type="time"]::before {
    position: absolute;
    right: 7px;
}
input[type="date"]:disabled::before,
input[type="time"]:disabled::before {
    color: #A0A0A0;
}
input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-clear-button,
input[type="time"]::-webkit-inner-spin-button  { 
    display: none;
} 
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator { 
    width: 25px;
    background: transparent;
    z-index: 1;
} 
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
