.mapsBtn {
    border: solid 1px #333;
    outline: 0 none;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.5);
    margin: 0 5px 5px 0;
}

.defaultBtn {
    background-color: #fff;
    border: solid 1px #333;
    outline: 0 none;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.5);
    margin: 0 5px 5px 0;
}