
/* -------------------------------------------------------------------------------
    layout
 ------------------------------------------------------------------------------- */
.wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
}
.side {
    width: 320px;
    min-width: 320px;
    height: 100vh;
    transition: all 0.4s;
    overflow: auto;
    border-right: 1px solid #A0A0A0;
}
.container {
    padding: 0 !important;
    width: calc(100% - 320px);
    min-width: calc(1200px - 320px);
    max-width: 100% !important;
}
.wrap.active .side {
    width: 0;
    min-width: 0;
}
.wrap.active .container {
    width: 100%;
    min-width: 1100px;
    max-width: 100% !important;
}
.wrap.no-navi .container {
    width: 100%;
    height: 100vh;
    min-width: 1200px;
}
.wrap.no-navi .header,
.wrap.no-navi .side,
.wrap.no-navi .footer {
    display: none;
}
.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid #A0A0A0;
}
.footer {
    display: flex;
    align-items: center;
    height: 130px;
    padding-left: 38px;
    font-size: 12px;
    color: #777;
    border-top: 1px solid #A0A0A0;
}
.content {
    height: calc(100vh - 190px);
    width: 100%;
    overflow: auto;
    padding: 24px 32px;
    background: #FAFAFB;
}
.content.center {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* -------------------------------------------------------------------------------
    header
 ------------------------------------------------------------------------------- */
.head-item {
    display: flex;
    align-items: center;
}
.navi-btn,
.navi-btn span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
}
.navi-btn {
    margin: 12px 24px 12px 12px;
}
.navi-btn div {
    position: relative;
    text-indent: -99999px;
    font-size: 1px;
    width: 34px;
    height: 34px;
    background: #FDEDE2;
    border-radius: 5px;
}
.navi-btn span {
    position: absolute;
    right: 25%;
    width: 10px;
    height: 2px;
    border-radius: 2px;
    background: #F37321;
}
.navi-btn span:nth-of-type(1) {
    top: 10px;
    right: 51%;
    width: 8px;
    height: 8px;   
    background: none; 
    border: solid #F37321;
    border-width: 2px 2px 0 0;
    transform: rotate(225deg);
}
.navi-btn span:nth-of-type(2) {
    top: 10px;
}
.navi-btn span:nth-of-type(3) {
    top: 16px;
}
.navi-btn span:nth-of-type(4) {
    width: 18px;
    top: 22px;
}
.wrap.active .navi-btn span:nth-of-type(1) {
    right: 60%;
    transform: rotate(45deg);
}
.gnb {
    display: flex;
    align-items: center;
    margin: 0 20px 0 0;
    padding: 0 !important;
    font-size: 14px;
    color: #777;
}
.gnb li {
    height: 60px;
}
.gnb a {
    display: block;
    height: 100%;
    padding: 20px 10px;
}
.gnb a:hover,
.gnb a.active {
    color: #F37321;
    font-family: 'notoB';
}
.gnb a.active {
    border-bottom: 2px solid #F37321;
}
.head-btn {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 15px;
    gap: 8px;
}

.head-btn > button {
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    border-radius: 5px;
}
.btn-push {
    background: #FDEDE2 url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_86_150)'%3E%3Cpath d='M20.79 16.49C20.27 15.59 19.5 13.06 19.5 9.75C19.5 5.61 16.14 2.25 12 2.25C7.86002 2.25 4.50002 5.61 4.50002 9.75C4.50002 13.06 3.73002 15.6 3.21002 16.49C2.79002 17.21 3.03002 18.12 3.75002 18.54C3.98002 18.67 4.24002 18.74 4.50002 18.74H8.33002C8.74002 20.77 10.73 22.08 12.75 21.66C14.22 21.36 15.37 20.21 15.67 18.74H19.5C20.33 18.74 21 18.07 21 17.24C21 16.98 20.93 16.72 20.8 16.49H20.79ZM12 20.25C11.05 20.25 10.2 19.65 9.88002 18.75H14.12C13.8 19.65 12.95 20.25 12 20.25ZM4.50002 17.25C5.22002 16.01 6.00002 13.13 6.00002 9.75C6.00002 6.37 8.69002 3.75 12 3.75C15.31 3.75 18 6.44 18 9.75C18 13.06 18.78 16.01 19.5 17.25H4.50002Z' fill='%23F37321'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center / auto 24px;
}
.btn-push:hover,
.btn-push:active {
    background: #F37321 url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_86_150)'%3E%3Cpath d='M20.79 16.49C20.27 15.59 19.5 13.06 19.5 9.75C19.5 5.61 16.14 2.25 12 2.25C7.86002 2.25 4.50002 5.61 4.50002 9.75C4.50002 13.06 3.73002 15.6 3.21002 16.49C2.79002 17.21 3.03002 18.12 3.75002 18.54C3.98002 18.67 4.24002 18.74 4.50002 18.74H8.33002C8.74002 20.77 10.73 22.08 12.75 21.66C14.22 21.36 15.37 20.21 15.67 18.74H19.5C20.33 18.74 21 18.07 21 17.24C21 16.98 20.93 16.72 20.8 16.49H20.79ZM12 20.25C11.05 20.25 10.2 19.65 9.88002 18.75H14.12C13.8 19.65 12.95 20.25 12 20.25ZM4.50002 17.25C5.22002 16.01 6.00002 13.13 6.00002 9.75C6.00002 6.37 8.69002 3.75 12 3.75C15.31 3.75 18 6.44 18 9.75C18 13.06 18.78 16.01 19.5 17.25H4.50002Z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center / auto 24px;
}
.btn-logout {
    background: #FDEDE2 url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.5 21.5V20C20.5 19 19.9377 17.7377 19 16.8C18.0623 15.8623 16.8261 15.5 15.5 15.5H8.5C7.17392 15.5 5.93768 15.8623 5 16.8C4.06232 17.7377 3.5 19 3.5 20V21.5' stroke='%23F37321' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.75 8C7.75 5.65279 9.65279 3.75 12 3.75C14.3472 3.75 16.25 5.65279 16.25 8C16.25 10.3472 14.3472 12.25 12 12.25C9.65279 12.25 7.75 10.3472 7.75 8Z' stroke='%23F37321' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center / auto 24px;
}
.btn-logout:hover,
.btn-logout:active {
    background: #F37321 url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.5 21.5V20C20.5 19 19.9377 17.7377 19 16.8C18.0623 15.8623 16.8261 15.5 15.5 15.5H8.5C7.17392 15.5 5.93768 15.8623 5 16.8C4.06232 17.7377 3.5 19 3.5 20V21.5' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.75 8C7.75 5.65279 9.65279 3.75 12 3.75C14.3472 3.75 16.25 5.65279 16.25 8C16.25 10.3472 14.3472 12.25 12 12.25C9.65279 12.25 7.75 10.3472 7.75 8Z' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center / auto 24px;
}
.head-login-item {
    display: none;
    position: absolute;
    right: 10px;
    top: 40px;
    background: #fff;    
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 10;
    overflow: hidden;
}
.head-login-item dl dt {
    padding: 20px;
    display: flex;
    line-height: 1.2;
    gap: 8px;
}
.head-login-item dl dt i {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #F37321;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}
.head-login-item dl dt i img {
    width: 100%;
}
.head-login-item dl dt strong {
    display: block;
}
.head-login-item dl dt span {
    display: block;
    font-size: 12px;
    color: #636363;
}
.head-login-item .change-item {
    border-top: 1px solid #A0A0A0;
}
.head-login-item .change-item button {
    display: block;
    padding-left: 20px;
    width: 100%;
    text-align: left;
    line-height: 40px;
    color: #232527;
}
.head-login-item .change-item button:hover,
.head-login-item .change-item button:visited {
    color: #F37321;
    background: #FDEDE2;
}
/* -------------------------------------------------------------------------------
    side
 ------------------------------------------------------------------------------- */
.logo {
    display: block;
    width: 141px;
    height: 32px;
    font-size: 0;
    text-indent: -9999px;
    background-image: url("data:image/svg+xml,%3Csvg width='141' height='32' viewBox='0 0 141 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M62.3577 9.59563H49.2306V7.49715H62.3577V9.59563ZM55.7941 18.8216C54.1301 18.8216 52.7712 18.4056 51.7451 17.5551C50.7005 16.7231 50.1828 15.7247 50.1828 14.5506C50.1828 13.3766 50.6912 12.4059 51.7451 11.5462C52.7712 10.7142 54.1394 10.2982 55.7941 10.2982C57.4489 10.2982 58.7986 10.7142 59.8432 11.5462C60.8693 12.3967 61.4055 13.4043 61.4055 14.5506C61.4055 15.6969 60.8693 16.7231 59.8432 17.5551C58.7986 18.4056 57.4489 18.8216 55.7941 18.8216ZM56.7925 23.6564H68.1354V25.9028H56.0899C53.483 25.9028 52.1888 24.7103 52.1888 22.2697V19.9309H55.1193V21.9369C55.1193 23.111 55.6832 23.6656 56.8018 23.6656L56.7925 23.6564ZM52.4292 4.62213H59.1683V6.74835H52.4292V4.62213ZM55.7941 16.7785C56.5522 16.7785 57.2085 16.5844 57.7724 16.1407C58.3086 15.7247 58.5767 15.1885 58.5767 14.5506C58.5767 13.9128 58.3086 13.4321 57.7724 12.9883C57.2085 12.5723 56.5522 12.3505 55.7941 12.3505C55.0361 12.3505 54.3797 12.5723 53.8436 12.9883C53.2796 13.4321 53.0116 13.9405 53.0116 14.5506C53.0116 15.1608 53.2796 15.7247 53.8436 16.1407C54.3797 16.5844 55.0176 16.7785 55.7941 16.7785ZM68.043 10.3629H71.0659V12.6555H68.043V20.0511H65.1402V4.99191H68.043V10.3629Z' fill='%23999999'/%3E%3Cpath d='M78.6833 18.7014C77.6294 18.535 76.7512 18.1375 76.0209 17.5274C74.9948 16.6954 74.5048 15.7247 74.5048 14.5507C74.5048 13.3767 75.0133 12.406 76.0671 11.5463C77.0933 10.7143 78.4614 10.2983 80.1162 10.2983C81.7709 10.2983 83.1206 10.7143 84.1653 11.5463C85.1914 12.3967 85.7276 13.4044 85.7276 14.5507C85.7276 15.697 85.2191 16.6954 84.2115 17.5274C83.4812 18.1098 82.6214 18.5073 81.5953 18.7014V20.9201H84.8401C87.7706 20.9201 89.2312 19.8015 89.2312 17.5274V4.99197H92.1339V12.0177H95.1569V14.3381H92.1339V25.9583H89.2312V22.0294C88.353 22.806 87.031 23.2035 85.33 23.2035H73.035V20.9293H78.6741V18.7107L78.6833 18.7014ZM86.6428 9.59569H73.5157V7.49721H86.6428V9.59569ZM76.7605 4.62219H83.4997V6.74841H76.7605V4.62219ZM80.1254 16.7786C80.8835 16.7786 81.5398 16.5845 82.1037 16.1407C82.6399 15.7247 82.908 15.1886 82.908 14.5507C82.908 13.9128 82.6399 13.4321 82.1037 12.9884C81.5398 12.5724 80.8835 12.3505 80.1254 12.3505C79.3674 12.3505 78.711 12.5724 78.1749 12.9884C77.611 13.4321 77.3429 13.9406 77.3429 14.5507C77.3429 15.1608 77.611 15.7247 78.1749 16.1407C78.711 16.5845 79.3489 16.7786 80.1254 16.7786Z' fill='%23999999'/%3E%3Cpath d='M104.041 6.13846C104.041 8.74539 104.531 10.6313 105.557 11.7498C106.389 12.702 107.36 13.2659 108.441 13.46V15.7527C106.583 15.5123 105.002 14.7728 103.634 13.5063C103.246 13.1642 102.922 12.776 102.636 12.3137C102.34 12.776 101.998 13.1642 101.637 13.5063C100.269 14.7728 98.6605 15.5123 96.8301 15.7527V13.46C97.9025 13.2659 98.8547 12.702 99.7144 11.7498C100.713 10.6313 101.23 8.74539 101.23 6.13846V5.28798H104.059V6.13846H104.041ZM116.465 21.4657C116.465 22.8801 115.827 24.0819 114.589 25.0988C113.322 26.1249 111.732 26.6333 109.782 26.6333C107.831 26.6333 106.241 26.1249 105.002 25.0988C103.736 24.0726 103.098 22.8801 103.098 21.4657C103.098 20.0513 103.736 18.8773 105.002 17.8511C106.25 16.8712 107.831 16.3628 109.782 16.3628C111.732 16.3628 113.322 16.8712 114.589 17.8511C115.837 18.8773 116.465 20.0698 116.465 21.4657ZM109.782 18.563C108.663 18.563 107.729 18.8588 107.045 19.4134C106.333 19.9958 106.001 20.6799 106.001 21.4657C106.001 22.2515 106.343 22.9541 107.045 23.5365C107.729 24.1189 108.626 24.4147 109.782 24.4147C110.937 24.4147 111.806 24.1189 112.518 23.5365C113.202 22.9725 113.563 22.2885 113.563 21.4657C113.563 20.6892 113.202 20.0051 112.518 19.4134C111.788 18.8495 110.882 18.563 109.782 18.563ZM114.395 4.99216H117.251V16.0947H114.395V11.3153H112.462V15.5863H109.652V4.99216H112.462V9.02272H114.395V4.99216Z' fill='%23999999'/%3E%3Cpath d='M133.133 15.3829H124.841C122.548 15.3829 121.42 14.2088 121.42 11.8238V5.3342H131.543C132.588 5.3342 133.124 5.87038 133.124 6.94273V7.33099H137.422V4.99216H140.325V16.2888H137.422V13.6542H133.124V15.3921L133.133 15.3829ZM130.276 7.55286H124.295V11.796C124.295 12.7205 124.711 13.1642 125.543 13.1642H130.276V7.55286ZM140.159 21.4657C140.159 22.8524 139.549 24.0541 138.328 25.0803C137.08 26.1249 135.5 26.6426 133.549 26.6426C131.598 26.6426 130.008 26.1341 128.788 25.0803C127.54 24.0541 126.93 22.8616 126.93 21.4657C126.93 20.0698 127.54 18.905 128.788 17.8789C130.008 16.8805 131.598 16.3628 133.549 16.3628C135.5 16.3628 137.09 16.8712 138.328 17.8789C139.549 18.905 140.159 20.0975 140.159 21.4657ZM133.549 18.563C132.43 18.563 131.524 18.8588 130.868 19.4134C130.184 19.9958 129.842 20.6799 129.842 21.4657C129.842 22.2515 130.156 22.9541 130.84 23.5365C131.497 24.1189 132.403 24.4147 133.549 24.4147C134.695 24.4147 135.573 24.1189 136.258 23.5365C136.914 22.9725 137.256 22.2885 137.256 21.4657C137.256 20.6892 136.914 20.0051 136.23 19.4134C135.546 18.8495 134.64 18.563 133.549 18.563ZM133.133 9.58663V11.417H137.432V9.58663H133.133Z' fill='%23999999'/%3E%3Cpath d='M13.5957 16.0146C13.141 11.7556 17.4751 8.33459 23.2802 8.3866C29.0853 8.43283 34.1605 11.9232 34.6153 16.1764C35.07 20.4411 30.7359 23.8506 24.9308 23.8044C19.1257 23.7639 14.0505 20.2735 13.5957 16.0146ZM35.6988 17.3322C35.1767 12.0503 29.3323 7.72204 22.6514 7.66425C15.9649 7.60646 10.9795 11.8423 11.5017 17.1241C12.0238 22.4059 17.8681 26.7342 24.549 26.792C31.2299 26.844 36.2265 22.614 35.6988 17.3322Z' fill='%23FBB584'/%3E%3Cpath d='M25.6101 26.9017C22.3202 30.4441 17.0372 30.7388 13.8091 27.5605C10.5865 24.3822 10.6371 18.9386 13.9326 15.402C17.2225 11.8653 22.5111 11.5706 25.728 14.7432C28.9506 17.9215 28.9 23.3651 25.6045 26.9017M13.4105 15.2864C9.58722 19.3951 9.52547 25.7286 13.2701 29.4213C17.0148 33.1139 23.1567 32.773 26.98 28.6585C30.8088 24.544 30.8706 18.2162 27.1203 14.5236C23.3757 10.8309 17.2337 11.1719 13.4049 15.2864' fill='%23F89B6C'/%3E%3Cpath d='M13.7701 2.82113C20.6138 0.180224 27.3845 2.85002 28.8891 8.78483C30.3937 14.7196 26.0652 21.6773 19.2215 24.3124C12.3778 26.9591 5.60711 24.2835 4.10251 18.3487C2.59229 12.4139 6.92644 5.46203 13.7701 2.82113ZM7.41488 5.09219C0.312929 10.8767 -1.49484 19.2618 3.37266 23.8154C8.24578 28.3749 17.9471 27.3752 25.0547 21.5848C32.1566 15.8003 33.9644 7.41526 29.0913 2.8558C24.2181 -1.69788 14.5112 -0.69815 7.41488 5.08641' fill='%23F37321'/%3E%3C/svg%3E%0A");
}
.side .logo {
    margin: 8px 16px 0;
}
.sub-list {
    position: relative;
}
.sub-list div {
    height: 40px;
    font-size: 14px;
    line-height: 40px;
}
.sub-list a {
    display: block;
}
.sub-list > div,
.sub-list > div > div {
    height: calc(100vh - 80px) !important;
}
.sub-list > div > div {
    padding: 0 16px;
}
.sub-list .depth0 {
    margin-top: 10px;
    padding-top: 12px;
    height: 52px !important;
    font-size: 13px;
    color: #444;
    border-top: 1px solid rgba(160, 160, 160, 0.35);
}
.sub-list .depth0:first-child {
    margin-top: 0;
    padding-top: 0;
    border: none;
    height: 40px !important;
}
.sub-list .depth1 {
    position: relative;
    padding-left: 34px !important;
    font-size: 14px;
    justify-content: space-between;
    padding: 0 10px 0 18px;
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.sub-list .depth1.active {
    color: #F37321;
    background-color: #FDEDE2;
}
.sub-list .depth1:not(#dashBoardMainDep_2, #dashBoardChooseDep_2)::after {
    position: absolute;
    content: '';
    top: 0;
    right: 16px;
    width: 12px !important;
    height: 40px;
    background: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1L6 5.5L10.5 1' stroke='%23232527' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center / 12px auto;
    transition: all 0.4s;
    box-sizing: border-box;
}
.sub-list .depth1:not(#dashBoardMainDep_2, #dashBoardChooseDep_2).active::after {
    background: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1L6 5.5L10.5 1' stroke='%23F37321' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center / 12px auto;
    transform: rotate(540deg);
}
.sub-list .depth1:hover,
.sub-list .depth1:hover a,
.sub-list .depth2:hover a {
    color: #F37321;
    background-color: #fff;
    overflow: hidden;
    z-index: 0;
}
.sub-list .depth1:hover.active::before {
    position: absolute;
    content: '';
    top: -20px;
    left: 40px;
    display: block;
    width: 120px;
    height: 120px;
    background: #FDEDE2;
    border-radius: 50%;
    z-index: -1;
}
.sub-list .depth2 {
    position: relative;
    padding-left: 44px;
}
.sub-list .depth2::before {
    position: absolute;
    content: '';
    display: block;
    left: 28px;
    width: 1px;
    height: 100%;
    background: #FBCEB2;
}
.sub-list .depth1.on,
.sub-list .depth1.on a,
.sub-list .depth2.on a {
    color: #F37321;
}



/* -------------------------------------------------------------------------------
    footer
 ------------------------------------------------------------------------------- */ 
.logo.foot {
    margin-right: 48px;
    width: 168px;
    height: 50px;
    background-image: url("data:image/svg+xml,%3Csvg width='168' height='50' viewBox='0 0 168 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M75.3577 18.5956H62.2306V16.4971H75.3577V18.5956ZM68.7941 27.8215C67.1301 27.8215 65.7712 27.4055 64.7451 26.555C63.7005 25.723 63.1828 24.7246 63.1828 23.5506C63.1828 22.3765 63.6912 21.4059 64.7451 20.5461C65.7712 19.7141 67.1394 19.2981 68.7941 19.2981C70.4489 19.2981 71.7986 19.7141 72.8432 20.5461C73.8693 21.3966 74.4055 22.4043 74.4055 23.5506C74.4055 24.6969 73.8693 25.723 72.8432 26.555C71.7986 27.4055 70.4489 27.8215 68.7941 27.8215ZM69.7925 32.6563H81.1354V34.9027H69.0899C66.483 34.9027 65.1888 33.7102 65.1888 31.2697V28.9308H68.1193V30.9369C68.1193 32.1109 68.6832 32.6656 69.8018 32.6656L69.7925 32.6563ZM65.4292 13.6221H72.1683V15.7483H65.4292V13.6221ZM68.7941 25.7785C69.5522 25.7785 70.2085 25.5843 70.7724 25.1406C71.3086 24.7246 71.5767 24.1884 71.5767 23.5506C71.5767 22.9127 71.3086 22.432 70.7724 21.9883C70.2085 21.5723 69.5522 21.3504 68.7941 21.3504C68.0361 21.3504 67.3797 21.5723 66.8436 21.9883C66.2796 22.432 66.0116 22.9404 66.0116 23.5506C66.0116 24.1607 66.2796 24.7246 66.8436 25.1406C67.3797 25.5843 68.0176 25.7785 68.7941 25.7785ZM81.043 19.3629H84.0659V21.6555H81.043V29.051H78.1402V13.9918H81.043V19.3629Z' fill='%23232527'/%3E%3Cpath d='M91.6833 27.7013C90.6294 27.5349 89.7512 27.1374 89.0209 26.5273C87.9948 25.6953 87.5048 24.7246 87.5048 23.5506C87.5048 22.3765 88.0133 21.4059 89.0671 20.5461C90.0933 19.7141 91.4614 19.2981 93.1162 19.2981C94.7709 19.2981 96.1206 19.7141 97.1653 20.5461C98.1914 21.3966 98.7276 22.4043 98.7276 23.5506C98.7276 24.6969 98.2191 25.6953 97.2115 26.5273C96.4812 27.1097 95.6214 27.5072 94.5953 27.7013V29.92H97.8401C100.771 29.92 102.231 28.8014 102.231 26.5273V13.9918H105.134V21.0176H108.157V23.338H105.134V34.9582H102.231V31.0293C101.353 31.8058 100.031 32.2033 98.33 32.2033H86.035V29.9292H91.6741V27.7106L91.6833 27.7013ZM99.6428 18.5956H86.5157V16.4971H99.6428V18.5956ZM89.7605 13.6221H96.4997V15.7483H89.7605V13.6221ZM93.1254 25.7785C93.8835 25.7785 94.5398 25.5843 95.1037 25.1406C95.6399 24.7246 95.908 24.1884 95.908 23.5506C95.908 22.9127 95.6399 22.432 95.1037 21.9883C94.5398 21.5723 93.8835 21.3504 93.1254 21.3504C92.3674 21.3504 91.711 21.5723 91.1749 21.9883C90.611 22.432 90.3429 22.9404 90.3429 23.5506C90.3429 24.1607 90.611 24.7246 91.1749 25.1406C91.711 25.5843 92.3489 25.7785 93.1254 25.7785Z' fill='%23232527'/%3E%3Cpath d='M117.041 15.1384C117.041 17.7453 117.531 19.6312 118.557 20.7497C119.389 21.7019 120.36 22.2658 121.441 22.46V24.7526C119.583 24.5122 118.002 23.7727 116.634 22.5062C116.246 22.1641 115.922 21.7759 115.636 21.3136C115.34 21.7759 114.998 22.1641 114.637 22.5062C113.269 23.7727 111.661 24.5122 109.83 24.7526V22.46C110.902 22.2658 111.855 21.7019 112.714 20.7497C113.713 19.6312 114.23 17.7453 114.23 15.1384V14.2879H117.059V15.1384H117.041ZM129.465 30.4656C129.465 31.88 128.827 33.0818 127.589 34.0987C126.322 35.1248 124.732 35.6332 122.782 35.6332C120.831 35.6332 119.241 35.1248 118.002 34.0987C116.736 33.0725 116.098 31.88 116.098 30.4656C116.098 29.0512 116.736 27.8772 118.002 26.8511C119.25 25.8711 120.831 25.3627 122.782 25.3627C124.732 25.3627 126.322 25.8711 127.589 26.8511C128.837 27.8772 129.465 29.0697 129.465 30.4656ZM122.782 27.5629C121.663 27.5629 120.729 27.8587 120.045 28.4134C119.333 28.9958 119.001 29.6798 119.001 30.4656C119.001 31.2514 119.343 31.954 120.045 32.5364C120.729 33.1188 121.626 33.4146 122.782 33.4146C123.937 33.4146 124.806 33.1188 125.518 32.5364C126.202 31.9725 126.563 31.2884 126.563 30.4656C126.563 29.6891 126.202 29.005 125.518 28.4134C124.788 27.8494 123.882 27.5629 122.782 27.5629ZM127.395 13.9921H130.251V25.0946H127.395V20.3152H125.462V24.5862H122.652V13.9921H125.462V18.0226H127.395V13.9921Z' fill='%23232527'/%3E%3Cpath d='M146.133 24.3828H137.841C135.548 24.3828 134.42 23.2087 134.42 20.8237V14.3341H144.543C145.588 14.3341 146.124 14.8703 146.124 15.9426V16.3309H150.422V13.9921H153.325V25.2887H150.422V22.6541H146.124V24.392L146.133 24.3828ZM143.276 16.5528H137.295V20.796C137.295 21.7204 137.711 22.1641 138.543 22.1641H143.276V16.5528ZM153.159 30.4656C153.159 31.8523 152.549 33.0541 151.328 34.0802C150.08 35.1248 148.5 35.6425 146.549 35.6425C144.598 35.6425 143.008 35.134 141.788 34.0802C140.54 33.0541 139.93 31.8615 139.93 30.4656C139.93 29.0697 140.54 27.9049 141.788 26.8788C143.008 25.8804 144.598 25.3627 146.549 25.3627C148.5 25.3627 150.09 25.8711 151.328 26.8788C152.549 27.9049 153.159 29.0974 153.159 30.4656ZM146.549 27.5629C145.43 27.5629 144.524 27.8587 143.868 28.4134C143.184 28.9958 142.842 29.6798 142.842 30.4656C142.842 31.2514 143.156 31.954 143.84 32.5364C144.497 33.1188 145.403 33.4146 146.549 33.4146C147.695 33.4146 148.573 33.1188 149.258 32.5364C149.914 31.9725 150.256 31.2884 150.256 30.4656C150.256 29.6891 149.914 29.005 149.23 28.4134C148.546 27.8494 147.64 27.5629 146.549 27.5629ZM146.133 18.5865V20.4169H150.432V18.5865H146.133Z' fill='%23232527'/%3E%3Cpath d='M26.5957 25.0146C26.141 20.7557 30.4751 17.3346 36.2802 17.3866C42.0853 17.4329 47.1605 20.9232 47.6153 25.1764C48.07 29.4412 43.7359 32.8506 37.9308 32.8044C32.1257 32.764 27.0505 29.2736 26.5957 25.0146ZM48.6988 26.3322C48.1767 21.0504 42.3323 16.7221 35.6514 16.6643C28.9649 16.6065 23.9795 20.8423 24.5017 26.1241C25.0238 31.406 30.8681 35.7343 37.549 35.792C44.2299 35.8441 49.2265 31.614 48.6988 26.3322Z' fill='%23FBB584'/%3E%3Cpath d='M38.6101 35.9017C35.3202 39.4441 30.0372 39.7388 26.8091 36.5605C23.5865 33.3821 23.6371 27.9385 26.9326 24.4019C30.2225 20.8653 35.5111 20.5706 38.728 23.7431C41.9506 26.9215 41.9 32.3651 38.6045 35.9017M26.4105 24.2863C22.5872 28.3951 22.5255 34.7286 26.2701 38.4212C30.0148 42.1139 36.1567 41.7729 39.98 37.6584C43.8088 33.5439 43.8706 27.2162 40.1203 23.5235C36.3757 19.8309 30.2337 20.1718 26.4049 24.2863' fill='%23F89B6C'/%3E%3Cpath d='M26.7701 11.8211C33.6138 9.18022 40.3845 11.85 41.8891 17.7848C43.3937 23.7196 39.0652 30.6773 32.2215 33.3124C25.3778 35.9591 18.6071 33.2835 17.1025 27.3487C15.5923 21.4139 19.9264 14.462 26.7701 11.8211ZM20.4149 14.0922C13.3129 19.8767 11.5052 28.2618 16.3727 32.8154C21.2458 37.3749 30.9471 36.3752 38.0547 30.5848C45.1566 24.8003 46.9644 16.4153 42.0913 11.8558C37.2181 7.30212 27.5112 8.30185 20.4149 14.0864' fill='%23F37321'/%3E%3C/svg%3E%0A");
}
.foot-itme {
    display: flex;
    gap: 10px;
}
.foot-itme dl {
    display: flex;
    gap: 5px;
    position: relative;
}
.foot-itme dl + dl::before {
    content: '';
    position: absolute;
    top: 3px;
    left: -5px;
    height: 12px;
    border-left: 1px solid #777;
}
/* -------------------------------------------------------------------------------
    popup
 ------------------------------------------------------------------------------- */ 
.popup-cont.cont-flex {
    gap: 0;
}
.popup-cont.cont-flex > div {
    border-left: 1px solid #BFBFBF;
}
.popup-cont.cont-flex > div:first-child {
    border-left: none;
}
.popup-scroll {
    height: 400px;
    overflow-y: auto;
}
.modal.alert .modal-body {
    padding-top: 40px;
    margin: 0;
    text-align: center;
}
.modal.alert .modal-footer {
    border: none;
}
.modal.alert .modal-footer button {
    flex: 1;
}

.toast {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.toast p {
    position: relative;
    padding-left: 40px;
    font-size: 14px;
    line-height: 1.3;
    color: #232527 !important;
}
.toast p::before {
    position: absolute;
    top: 50%;
    left: 14px;
    display: block;
    content: '';
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: 28px;
    transform: translate(-50%, -50%);
}
.toast .text-check::before {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='28' height='28' rx='4' fill='%23F37321'/%3E%3Ccircle cx='14' cy='14' r='11' fill='white'/%3E%3Cg clip-path='url(%23clip0_103_3374)'%3E%3Cpath d='M12.61 18.555L8.45703 14.185L9.84703 12.865L12.621 15.785L18.487 9.71497L19.866 11.047L12.61 18.555Z' fill='%23F37321'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_103_3374'%3E%3Crect width='20' height='20' fill='white' transform='translate(4 4)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.toast .text-warning::before {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='28' height='28' rx='4' fill='%23F03738'/%3E%3Ccircle cx='14' cy='14' r='11' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.9006 18.245C13.154 18.4661 13.4814 18.5836 13.8176 18.574C14.1538 18.5837 14.4812 18.4662 14.7346 18.245C14.8534 18.1363 14.9483 18.0041 15.0133 17.8567C15.0782 17.7093 15.1117 17.5501 15.1117 17.389C15.1117 17.228 15.0782 17.0687 15.0133 16.9213C14.9483 16.7739 14.8534 16.6417 14.7346 16.533C14.4761 16.3208 14.152 16.2048 13.8176 16.2048C13.4831 16.2048 13.1591 16.3208 12.9006 16.533C12.7817 16.6417 12.6868 16.7739 12.6219 16.9213C12.557 17.0687 12.5234 17.228 12.5234 17.389C12.5234 17.5501 12.557 17.7093 12.6219 17.8567C12.6868 18.0041 12.7817 18.1363 12.9006 18.245ZM12.8536 14.875H14.8116L15.0886 8.48401H12.5776L12.8536 14.875Z' fill='%23F03738'/%3E%3C/svg%3E%0A");
}