<html>
  <head>
    <title>Vue Sample</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <form>
        <table>
          <tr>
            <td>사용자아이디</td>
            <td>{{ userId }}</td>
          </tr>
          <tr>
            <td>비밀번호</td>
            <td><input type="password" v-bind:value="userPw" /></td>
          </tr>
          <tr>
            <td>소개</td>
            <td><textarea rows="5" v-bind:value="introduction"></textarea></td>
          </tr>
          <tr>
            <td>개발자여부</td>
            <td>
              <span v-if="developer">개발자</span>
            </td>
          </tr>
          <tr>
            <td>외국인여부</td>
            <td>
              <span v-show="foreigner === 'yes'">외국인</span>
            </td>
          </tr>
          <tr>
            <td>취미</td>
            <td>
              <ul>
                <li v-for="hobby in hobbyList">{{ hobby }}</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>성별</td>
            <td>
              <span v-if="gender === 'male'">Male</span>
              <span v-else>Female</span>
            </td>
          </tr>
          <tr>
            <td>국적</td>
            <td>
              <select v-bind:value="nationality">
                <option disabled value="">Please select one</option>
                <option value="01">Korea</option>
                <option value="02">Germany</option>
                <option value="03">Australia</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>국적</td>
            <td>
              <span v-if="nationality === '01'">Korea</span>
              <span v-else-if="nationality === '02'">Germany</span>
              <span v-else-if="nationality === '03'">Australia</span>
              <span v-else>None</span>
            </td>
          </tr>
          <tr>
            <td>국적</td>
            <td>
              {{ getNationality }}
            </td>
          </tr>
          <tr>
            <td>소유차량</td>
            <td>
              <select v-model="carList" multiple>
                <option>Volvo</option>
                <option>Saab</option>
                <option>Opel</option>
              </select>
            </td>
          </tr>
        </table>

        <p>
          <button type="submit">등록</button>
        </p>
      </form>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          userId: "alex",
          userPw: "1234",
          introduction: "hello",
          developer: false,
          foreigner: "no",
          hobbyList: ["Sports", "Music", "Movie"],
          gender: "male",
          nationality: "01",
          carList: ["Volvo", "Saab"],
        },
        computed: {
          getNationality: function () {
            if (this.nationality === "01") {
              return "Korea";
            } else if (this.nationality === "02") {
              return "Germany";
            } else if (this.nationality === "03") {
              return "Australia";
            } else {
              return "None";
            }
          },
        },
      });
    </script>
  </body>
</html>
