<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="headFragment(title)">
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
			<title th:text="${title}"></title>
			
			<link rel="stylesheet" href="/css/pc_style.css">
			<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
			<script type="text/javascript" src="/js/axios.min.js"></script>
			<script type="text/javascript" src="/js/pub.js"></script>
			<script type="text/javascript" src="/js/comm.js"></script>
		</head>
	</th:block>
</html>